--- 
- hosts: all
  roles:
    - common

- hosts: chrony-master
  roles:
    - chrony-master
  tags:
    - chrony
    - chrony-maste

- hosts: chrony:children
  roles:
    - chrony-slave
  tags:
    - chrony
    - chrony-slave

- hosts: controller
  roles:
    - sql-db

- hosts: controller
  roles:
    - nosql

- hosts: controller
  roles:
    - message-queue

- hosts: controller
  roles:
    - keystone